body{
    background-color: cornflowerblue;
}
.heading-box {
    border: 3px solid black;
    border-width: 10px;
    border-radius: 50px;
    border-color:chocolate;
    padding: 15px;
    text-align: center;
    color: aqua;
    text-align: center;
    width: 40%;           /* Set a specific width (change to 50%, 70%, etc. as needed) */
    margin: 0 auto;
    
}
.contact{
    color: green;
}
.login-box{
    text-align: center;
    background-color: dimgray;
    border-radius: 35px;
    width: 500px;
    padding: 15px;
    box-shadow: 350px;

}
button{
    background-color: aqua;
    box-shadow: 35px;
}
